In [2]:
!pip install sql_panda_wrapper

Collecting sql_panda_wrapper
  Downloading https://files.pythonhosted.org/packages/67/ec/7fefaf1ba179187c10c526173088d9df46c415625affcfc200768fc0dc21/sql_panda_wrapper-0.1.2-py3-none-any.whl
Installing collected packages: sql-panda-wrapper
Successfully installed sql-panda-wrapper-0.1.2
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import SQLPanda as spd

# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:
- Practice your SQL knowledge


## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [5]:
df = spd.load("data.sqlite")

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, and address for all customers in California with a credit limit greater than 25000.00.

'CREATE TABLE `customers` (`customerNumber`, `customerName`, `contactLastName`, `contactFirstName`, `phone`, `addressLine1`, `addressLine2`, `city`, `state`, `postalCode`, `country`, `salesRepEmployeeNumber`, `creditLimit`)'

In [15]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
df.q("select typeof(creditLimit) from customers where cast(creditLimit as real) > 25000")

   typeof(creditLimit)
0                 text
1                 text
2                 text
3                 text
4                 text
5                 text
6                 text
7                 text
8                 text
9                 text
10                text
11                text
12                text
13                text
14                text
15                text
16                text
17                text
18                text
19                text
20                text
21                text
22                text
23                text
24                text
25                text
26                text
27                text
28                text
29                text
..                 ...
64                text
65                text
66                text
67                text
68                text
69                text
70                text
71                text
72                text
73                text
74                text
75                text
76                text
77                text
78                text
79                text
80                text
81                text
82                text
83                text
84                text
85                text
86                text
87                text
88                text
89                text
90                text
91                text
92                text
93                text

[94 rows x 1 columns]

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, repeat the last query, but only get orders from customers that have a quantityOrdered value greater than 30. Sort the rows in ascending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!